<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hungrytogetherandroidapplication">
    <!-- Add internet permission - needed for network calls -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- I'm Adding here first. In case we need to load images from local folders like DCIM or Pictures -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login_portal.MainLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login_portal.AccountDetailsActivity" />
        <activity android:name=".new_order_portal.NewOrderActivity" />
        <activity android:name=".new_order_portal.select_restaurant" />
        <activity android:name=".new_order_portal.select_pickup_location" />
        <activity android:name=".new_order_portal.select_time_limit" />
        <activity android:name=".main_activity_portal.MainActivity" />
        <activity android:name=".ordering_portal.OrderingPortalActivity"/>

    </application>

</manifest>